<%- include('../../partials/header') %>
<div class="flex-grow-1 bg-body">
    <%- include('../../partials/breadcrumb') %>
    <div class="pt-2 pb-3 bg-body">
        <div class="px-3">
            <div class="px-3 container-fluid d-flex justify-content-between">
                <div class="d-flex" role="group" aria-label="Basic example">
                    <div class="d-flex gap-2">
                        <% if (user.access ==  "Editor" || user.access ==  "System Administrator" || user.access ==  "System Owner") { %>
                            <a href="/ais/parties/create" class="btn btn-primary rounded-1 d-flex align-items-center gap-1 p-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                    <path d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                                </svg>
                                <p class="m-0">Add Record</p>
                            </a>
                        <% } %>
                        <a href="/ais/parties/export/csv" class="btn btn-primary rounded-1 d-flex align-items-center gap-1 p-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-csv" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM3.517 14.841a1.13 1.13 0 0 0 .401.823q.195.162.478.252.284.091.665.091.507 0 .859-.158.354-.158.539-.44.187-.284.187-.656 0-.336-.134-.56a1 1 0 0 0-.375-.357 2 2 0 0 0-.566-.21l-.621-.144a1 1 0 0 1-.404-.176.37.37 0 0 1-.144-.299q0-.234.185-.384.188-.152.512-.152.214 0 .37.068a.6.6 0 0 1 .246.181.56.56 0 0 1 .12.258h.75a1.1 1.1 0 0 0-.2-.566 1.2 1.2 0 0 0-.5-.41 1.8 1.8 0 0 0-.78-.152q-.439 0-.776.15-.337.149-.527.421-.19.273-.19.639 0 .302.122.524.124.223.352.367.228.143.539.213l.618.144q.31.073.463.193a.39.39 0 0 1 .152.326.5.5 0 0 1-.085.29.56.56 0 0 1-.255.193q-.167.07-.413.07-.175 0-.32-.04a.8.8 0 0 1-.248-.115.58.58 0 0 1-.255-.384zM.806 13.693q0-.373.102-.633a.87.87 0 0 1 .302-.399.8.8 0 0 1 .475-.137q.225 0 .398.097a.7.7 0 0 1 .272.26.85.85 0 0 1 .12.381h.765v-.072a1.33 1.33 0 0 0-.466-.964 1.4 1.4 0 0 0-.489-.272 1.8 1.8 0 0 0-.606-.097q-.534 0-.911.223-.375.222-.572.632-.195.41-.196.979v.498q0 .568.193.976.197.407.572.626.375.217.914.217.439 0 .785-.164t.55-.454a1.27 1.27 0 0 0 .226-.674v-.076h-.764a.8.8 0 0 1-.118.363.7.7 0 0 1-.272.25.9.9 0 0 1-.401.087.85.85 0 0 1-.478-.132.83.83 0 0 1-.299-.392 1.7 1.7 0 0 1-.102-.627zm8.239 2.238h-.953l-1.338-3.999h.917l.896 3.138h.038l.888-3.138h.879z"/>
                            </svg>
                            <p class="m-0">Export CSV</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-3 container-fluid mt-2">
            <div class="px-3">
                <table class="table table-striped" id="table" style="width:100%">
                    <thead>
                        <tr>
                            <th class="col text-light bg-dark fw-normal">Actions</th>
                            <th class="col-1 text-light bg-dark fw-normal text-end">Internal ID</th>
                            <th class="col-5 text-light bg-dark fw-normal">Name</th>
                            <th class="col-1 text-light bg-dark fw-normal">Party Type</th>
                            <th class="col-1 text-light bg-dark fw-normal">Business Type</th>
                            <th class="col-1 text-light bg-dark fw-normal">Tax Territory</th>
                            <th class="col-2 text-light bg-dark fw-normal text-end">Last Updated</th>
                            <th class="col-1 text-light bg-dark fw-normal text-end">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% 
                            parties.sort(function (a, b) {
                                if (a.name < b.name) {
                                    return -1;
                                }
                                if (a.name > b.name) {
                                    return 1;
                                }
                                return 0;
                            }); 
                        %>
                        <% if (parties) { %>
                            <% var i = 1 %>
                            <% parties.forEach(e => { %>
                                <tr id="<%= e.internalId %>">
                                    <td class="align-middle">
                                        <div class="d-flex gap-1">
                                            <a href="/ais/parties/<%= e.internalId %>" class="btn btn-outline-primary rounded-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-eye-fill d-flex align-items-center" viewBox="0 0 16 16">
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                                </svg>
                                            </a>
                                            <% if (user.access == "Editor" || user.access == "System Administrator" || user.access == "System Owner") { %>
                                                <a href="/ais/parties/<%= e.internalId %>/edit" class="btn btn-outline-warning rounded-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-pencil-square d-flex align-items-center" viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                        <path d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                                    </svg>
                                                </a>
                                            <% } %>
                                            <% if (user.access == "System Administrator" || user.access == "System Owner") { %>
                                                <button class="btn btn-outline-danger rounded-1" data-bs-toggle="modal" data-bs-target="#delete<%= e.internalId %>">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-trash d-flex align-items-center" viewBox="0 0 16 16">
                                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                                    </svg>
                                                </button>
                                                <div class="modal fade" id="delete<%= e.internalId %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Action</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you sure you wish to delete this record? This action is permanent and has no option to undo.
                                                                <div class="mt-2">
                                                                    <b>Party:&nbsp;</b><%= e.name %> (<%= e.internalId %>)
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                <form action="/ais/parties/<%= e.internalId %>/delete" method="POST">
                                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                    </td>
                                    <td class="align-middle font-monospace text-end"><%= e.internalId %></td>
                                    <td class="align-middle">
                                        <div class="d-flex gap-3 align-items-center">
                                            <div class="circle">
                                                <p class="circle-inner text-white"><%= e.name.slice(0,2) %></p>
                                            </div>
                                            <a href="/ais/parties/<%= e.internalId %>"><%= e.name %></a>
                                        </div>
                                    </td>
                                    <td class="align-middle"><%= e.partyType %></td>
                                    <td class="align-middle"><%= e.businessType %></td>
                                    <td class="align-middle"><%= e.territory %></td>
                                    <td class="align-middle font-monospace text-end">
                                        <% var date = e.updatedAt.toISOString() %>
                                        <%= date %>
                                    </td>
                                    <td class="align-middle font-monospace text-end">0.000000</td>
                                </tr>
                                <% i = i + 1; %>
                            <% }) %>
                        <% } else { %>
                            <tr>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                                <td class="py-3">...</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready( function () {
        $('#table').DataTable({
            responsive: true,
            order: [[2, 'asc']],
            columnDefs: [
                {
                    orderable: false, targets: [0]
                }
            ],
            lengthMenu: [
                [-1, 10, 25, 50],
                ['All', 10, 25, 50]
            ]
        });
    });
</script>
<%- include('../../partials/footer') %>