<%- include('../../partials/header') %>
<div class="flex-grow-1 bg-body">
    <%- include('../../partials/breadcrumb') %>
    <div class="pt-2 pb-3 bg-body">
        <div class="px-3">
            <div class="px-3">
                <form action="/ais/coa/<%= account.number %>/edit" method="POST" class="needs-validation" novalidate>
                    <div class="row mt-2 mb-4">
                        <div class="col-6 py-1">
                            <label for="name" class="form-label fs-7">Name*</label>
                            <input type="text" class="form-control rounded-1" name="name" id="name" value="<%= account.name %>" required>
                            <div class="invalid-feedback fs-7">
                                    This field cannot be left blank
                            </div>
                        </div>
                        <div class="col-2 py-1">
                            <label for="company" class="form-label fs-7">Company</label>
                            <select class="form-select form-select-search fs-7" name="company" id="company" aria-label="company" disabled>
                                <option value=""></option>
                                <% companies.forEach(e => { %>
                                    <option value="<%= e %>"
                                        <% if (e == account.company) { %>
                                            selected
                                        <% } %>>
                                        <%= e %>
                                    </option>
                                <% }) %>
                            </select>
                            <div class="invalid-feedback fs-7">
                                    This field cannot be left blank
                            </div>
                        </div>
                        <div class="col-2 py-1">
                            <label for="currency" class="form-label fs-7">Currency</label>
                            <select class="form-select form-select-search fs-7" name="currency" id="currency" aria-label="currency" disabled>
                                <option value=""></option>
                                <% currencies.forEach(e => { %>
                                    <option value="<%= e.cc %>"
                                        <% if (e.cc == account.currency) { %>
                                            selected
                                        <% } %>>
                                        <%= e.cc %> (<%= e.name %>)
                                    </option>
                                <% }) %>
                            </select>
                            <div class="invalid-feedback fs-7">
                                    This field cannot be left blank
                            </div>
                        </div>
                        <div class="col-2 py-1">
                            <label for="type" class="form-label fs-7">Account Type*</label>
                            <select class="form-select fs-7" name="type" id="type" aria-label="type" required disabled>
                                <option value=""></option>
                                <option value="1100"
                                    <% if (account.type == "1100") { %>
                                        selected
                                    <% } %>>
                                    1100 - Current Asset
                                </option>
                                <option value="1200"
                                    <% if (account.type == "1200") { %>
                                        selected
                                    <% } %>>
                                    1200 - Non-Current Asset
                                </option>
                                <option value="2100"
                                    <% if (account.type == "2100") { %>
                                        selected
                                    <% } %>>
                                    2100 - Current Liability
                                </option>
                                <option value="2200"
                                    <% if (account.type == "2200") { %>
                                        selected
                                    <% } %>>
                                    2200 - Non-Current Liability
                                </option>
                                <option value="3000"
                                    <% if (account.type == "3000") { %>
                                        selected
                                    <% } %>>
                                    3000 - Equity
                                </option>
                                <option value="4000"
                                    <% if (account.type == "4000") { %>
                                        selected
                                    <% } %>>
                                    4000 - Revenue
                                </option>
                                <option value="5000"
                                    <% if (account.type == "5000") { %>
                                        selected
                                    <% } %>>
                                    5000 - Expense
                                </option>
                            </select>
                            <div class="invalid-feedback fs-7">
                                    This field cannot be left blank
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary py-1 rounded-1" onclick="location.href='<%= urlreturn %>'">Cancel</button>
                    <button type="submit" class="btn btn-primary py-1 rounded-1">Save Account</button>
                    <p class="fs-7 text-secondary mt-2">* Required Field</p>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../../partials/footer') %>