<%- include('../../partials/header') %>
<div class="flex-grow-1 bg-body">
    <%- include('../../partials/breadcrumb') %>
    <div class="pt-2 pb-3 bg-body">
        <div class="px-3">
            <div class="px-3">
                <form action="/ais/entries/create" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                    <div class="row mt-2 mb-4">
                        <h4 class="fw-light">Details</h4>
                        <div class="col-6 py-1">
                            <label for="date" class="form-label fs-7">Entry Date*</label>
                            <input type="date" class="form-control fs-7" name="date" id="date" required>
                            <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                            </div>
                        </div>
                        <div class="col-6 py-1">
                            <label for="type" class="form-label fs-7">Entry Type*</label>
                            <select class="form-select fs-7" name="type" id="type" aria-label="type" required>
                                <option value=""></option>            
                                <option value="Standard Entry">Standard Entry</option>                   
                                <option value="Compound Entry">Compound Entry</option>
                                <option value="Adjusting Entry">Adjusting Entry</option>
                                <option value="Transfer Entry">Transfer Entry</option>
                                <option value="Opening Entry">Opening Entry</option>
                                <option value="Closing Entry">Closing Entry</option>
                                <option value="Reversing Entry">Reversing Entry</option>
                            </select>
                            <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <h4 class="fw-light">Account Entries</h4>
                        <table class="table">
                            <thead>
                                <tr class="fs-7">
                                    <th class="col">Object</th>
                                    <th class="col-6">Account*</th>
                                    <th class="col-2">Debit*</th>
                                    <th class="col-2">Credit*</th>
                                    <th class="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="fieldRows">
                                <tr>
                                    <td class="fs-7">Row</td>
                                    <td>
                                        <select class="form-select form-select-search fs-7" name="account" id="account" required>
                                            <option value=""></option>
                                            <% 
                                                accounts.sort(function (a, b) {
                                                    if (a.number < b.number) {
                                                        return -1;
                                                    }
                                                    if (a.number > b.number) {
                                                        return 1;
                                                    }
                                                    return 0;
                                                }); 
                                            %>
                                            <% accounts.forEach(e => { %>
                                                <option value="<%= e.number %>"><%= e.number %> (<%= e.name %>)</option>
                                            <% }) %>
                                        </select>
                                        <div class="invalid-feedback fs-7">
                                            This field cannot be left blank
                                        </div>
                                    </td>
                                    <td>
                                        <input type="number" step="0.01" class="form-control fs-7" name="debit" id="debit" required>
                                        <div class="invalid-feedback fs-7">
                                            This field cannot be left blank
                                        </div>
                                    </td>
                                    <td>
                                        <input type="number" step="0.01" class="form-control fs-7" name="credit" id="credit" required>
                                        <div class="invalid-feedback fs-7">
                                            This field cannot be left blank
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-warning fs-7 add_row w-100">Add Field</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mb-2">
                        <h4 class="fw-light">Reference</h4>
                        <div class="col-6 py-1">
                            <label for="refNumber" class="form-label fs-7">Reference Number</label>
                            <input type="text" class="form-control fs-7" name="refNumber" id="refNumber">
                        </div>
                        <div class="col-6 py-1">
                            <label for="refDate" class="form-label fs-7">Reference Date</label>
                            <input type="date" class="form-control fs-7" name="refDate" id="refDate">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6 py-1">
                            <label for="remark" class="form-label fs-7">Remarks</label>
                            <input type="text" class="form-control fs-7" name="refRemark" id="refRemark">
                        </div>
                        <div class="col-6 py-1">
                            <label for="formFile" class="form-label fs-7">Attachment</label>
                            <small class="text-secondary">(PDF/PNG/JPG Only)</small>
                            <input class="form-control fs-7" type="file" id="attachment" name="attachment" accept="application/pdf,image/jpeg,image/png,image/gif">
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary fs-7" onclick="location.href='<%= urlreturn %>'">Cancel</button>
                    <button type="submit" class="btn btn-primary fs-7">Save Entry</button>
                    <p class="fs-7 text-secondary mt-2">* Required Field</p>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".add_row").click(function(e) {
            e.preventDefault();
            let uniqueId = Date.now();
            $("#fieldRows").append(`
                <tr>
                    <td class="fs-7">Row</td>
                    <td>
                        <select class="form-select form-select-search fs-7" name="account" id="account-${uniqueId}" required>
                            <option value=""></option>
                            <% 
                                accounts.sort(function (a, b) {
                                    if (a.number < b.number) {
                                        return -1;
                                    }
                                    if (a.number > b.number) {
                                        return 1;
                                    }
                                    return 0;
                                }); 
                            %>
                            <% accounts.forEach(e => { %>
                                <option value="<%= e.number %>"><%= e.number %> (<%= e.name %>)</option>
                            <% }) %>
                        </select>
                        <div class="invalid-feedback fs-7">
                            This field cannot be left blank
                        </div>
                    </td>
                    <td>
                        <input type="number" step="0.01" class="form-control fs-7" name="debit" id="debit" required>
                        <div class="invalid-feedback fs-7">
                            This field cannot be left blank
                        </div>
                    </td>
                    <td>
                        <input type="number" step="0.01" class="form-control fs-7" name="credit" id="credit" required>
                        <div class="invalid-feedback fs-7">
                            This field cannot be left blank
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger fs-7 delete_row w-100">Delete</button>
                    </td>
                </tr>
            `);
            $(".form-select-search").select2({
                theme: 'bootstrap-5',
                placeholder: "Select one...",
                allowClear: true
            });
        });
        $(document).on("click", ".delete_row", function(e) {
            e.preventDefault();
            let row_item = $(this).parent().parent();
            $(row_item).remove();
        });
    });
</script>
<%- include('../../partials/footer') %>