<%- include('../../partials/header') %>
<div class="flex-grow-1 bg-body">
    <%- include('../../partials/breadcrumb') %>
    <div class="pt-2 pb-3 bg-body">
        <div class="px-3">
            <div class="px-3">
                <form action="/ais/entries/<%= entry.number %>/edit" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                    <div class="row mt-2 mb-4">
                        <h4 class="fw-light">Details</h4>
                        <div class="col-6 py-1">
                            <label for="date" class="form-label fs-7">Entry Date*</label>
                            <% var date = entry.date.toISOString().slice(0,10) %>
                            <% date %>
                            <input type="date" class="form-control rounded-1" name="date" id="date" value="<%= date %>" required>
                            <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                            </div>
                        </div>
                        <div 
                            <% if (user.access == "System Administrator" || user.access == "System Owner") { %>
                                class="col-3 py-1"
                            <% } else { %>
                                class="col-6 py-1"
                            <% } %>>
                            <label for="type" class="form-label fs-7">Entry Type*</label>
                            <select class="form-select fs-7" name="type" id="type" aria-label="type" required>
                                <option value=""></option>            
                                <option value="Standard Entry"
                                    <% if (entry.type == "Standard Entry") { %>
                                        selected
                                    <% } %>>
                                    Standard Entry
                                </option>                   
                                <option value="Compound Entry"
                                    <% if (entry.type == "Compound Entry") { %>
                                        selected
                                    <% } %>>
                                    Compound Entry
                                </option>
                                <option value="Adjusting Entry"
                                    <% if (entry.type == "Adjusting Entry") { %>
                                        selected
                                    <% } %>>
                                    Adjusting Entry
                                </option>
                                <option value="Transfer Entry"
                                    <% if (entry.type == "Transfer Entry") { %>
                                        selected
                                    <% } %>>
                                    Transfer Entry
                                </option>
                                <option value="Opening Entry"
                                    <% if (entry.type == "Opening Entry") { %>
                                        selected
                                    <% } %>>
                                    Opening Entry
                                </option>
                                <option value="Closing Entry"
                                    <% if (entry.type == "Closing Entry") { %>
                                        selected
                                    <% } %>>
                                    Closing Entry
                                </option>
                                <option value="Reversing Entry"
                                    <% if (entry.type == "Reversing Entry") { %>
                                        selected
                                    <% } %>>
                                    Reversing Entry
                                </option>
                            </select>
                            <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                            </div>
                        </div>
                        <% if (user.access == "System Administrator" || user.access == "System Owner") { %>
                            <div class="col-3 py-1">
                                <label for="status" class="form-label fs-7">Status*</label>
                                <small class="text-secondary fs-7">(Visible to admins only)</small>
                                <select class="form-select fs-7" name="status" id="status" aria-label="type" required>
                                    <option value=""></option>       
                                    <option value="Pending Approval"
                                        <% if (entry.approval.status == "Pending Approval") { %>
                                            selected
                                        <% } %>>
                                        Pending Approval
                                    </option>                   
                                    <option value="Approved"
                                        <% if (entry.approval.status == "Approved") { %>
                                            selected
                                        <% } %>>
                                        Approved
                                    </option>
                                    <option value="Cancelled"
                                        <% if (entry.approval.status == "Cancelled") { %>
                                            selected
                                        <% } %>>
                                        Cancelled
                                    </option>
                                </select>
                                <div class="invalid-feedback fs-7">
                                    This field cannot be left blank
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="row mb-3">
                        <h4 class="fw-light">Account Entries</h4>
                        <table class="table">
                            <thead>
                                <tr class="fs-7">
                                    <th class="col">Object</th>
                                    <th class="col-6">Account*</th>
                                    <th class="col-2">Debit*</th>
                                    <th class="col-2">Credit*</th>
                                    <th class="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="fieldRows">
                                <% let i = 0 %>
                                <% entry.rows.forEach(e => { %>
                                    <tr>
                                        <td class="fs-7">Row</td>
                                        <td>
                                            <select class="form-select form-select-search fs-7" name="account" id="account-<%= i %>" required>
                                                <option value=""></option>
                                                <% 
                                                    accounts.sort(function (a, b) {
                                                        if (a.number < b.number) {
                                                            return -1;
                                                        }
                                                        if (a.number > b.number) {
                                                            return 1;
                                                        }
                                                        return 0;
                                                    }); 
                                                %>
                                                <% accounts.forEach(e2 => { %>
                                                    <option value="<%= e2.number %>"
                                                        <% if (e2.number == e.account) { %>
                                                            selected
                                                        <% } %>>
                                                        <%= e2.number %> (<%= e2.name %>)
                                                    </option>
                                                <% }) %>
                                            </select>
                                            <div class="invalid-feedback fs-7">
                                                This field cannot be left blank
                                            </div>
                                        </td>
                                        <td>
                                            <input type="number" step="0.000001" class="form-control rounded-1" name="debit" id="debit-<%= i %>" value="<%= e.debit.toFixed(2) %>" required>
                                            <div class="invalid-feedback fs-7">
                                                This field cannot be left blank
                                            </div>
                                        </td>
                                        <td>
                                            <input type="number" step="0.000001" class="form-control rounded-1" name="credit" id="credit-<%= i %>" value="<%= e.credit.toFixed(2) %>" required>
                                            <div class="invalid-feedback fs-7">
                                                This field cannot be left blank
                                            </div>
                                        </td>
                                        <td>
                                            <% if (i == 0) { %>
                                                <button type="button" class="btn btn-warning rounded-1 add_row w-100">Add Field</button>
                                            <% } else { %>
                                                <button type="button" class="btn btn-danger rounded-1 delete_row w-100">Delete</button>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <% i++ %>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mb-2">
                        <h4 class="fw-light">Reference</h4>
                        <div class="col-6 py-1">
                            <label for="refNumber" class="form-label fs-7">Reference Number</label>
                            <input type="text" class="form-control rounded-1" name="refNumber" id="refNumber" value="<%= entry.reference.number %>">
                        </div>
                        <div class="col-6 py-1">
                            <label for="refDate" class="form-label fs-7">Reference Date</label>
                            <% let refDate; %>
                            <% if (entry.reference.date == null) { %>
                                <% refDate = null %>
                            <% } else { %>
                                <% refDate = entry.reference.date.toISOString().slice(0,10) %>
                            <% } %>
                            <input type="date" class="form-control rounded-1" name="refDate" id="refDate" value="<%= refDate %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6 py-1">
                            <label for="remark" class="form-label fs-7">Remarks</label>
                            <input type="text" class="form-control rounded-1" name="refRemark" id="refRemark" value="<%= entry.reference.remark %>">
                        </div>
                        <div class="col-6 py-1">
                            <label for="formFile" class="form-label fs-7">Replace Attachment</label>
                            <small class="text-secondary">(PDF/PNG/JPG Only)</small>
                            <input class="form-control rounded-1" type="file" id="attachment" name="attachment" accept="application/pdf,image/jpeg,image/png,image/gif">
                            <small class="text-truncate text-secondary d-block fs-7 mt-1">
                                <% if (entry.reference.attachment != "") { %>
                                    Existing Attachment: <a href="<%= attachmentUrl %>" target="_blank" class="text-secondary">External Link</a>
                                <% } else { %>
                                    None
                                <% } %>
                            </small>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary rounded-1 py-1" onclick="location.href='<%= urlreturn %>'">Cancel</button>
                    <button type="submit" class="btn btn-primary rounded-1 py-1">Save Entry</button>
                    <p class="fs-7 text-secondary mt-2">* Required Field</p>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
    $(".add_row").click(function(e) {
        e.preventDefault();
        let uniqueId = Date.now();
        $("#fieldRows").append(`
            <tr>
                <td class="fs-7">Row</td>
                <td>
                    <select class="form-select form-select-search fs-7" name="account" id="account-${uniqueId}" required>
                        <option value=""></option>
                        <% 
                            accounts.sort(function (a, b) {
                                if (a.number < b.number) {
                                    return -1;
                                }
                                if (a.number > b.number) {
                                    return 1;
                                }
                                return 0;
                            }); 
                        %>
                        <% accounts.forEach(e => { %>
                            <option value="<%= e.number %>"><%= e.number %> (<%= e.name %>)</option>
                        <% }) %>
                    </select>
                    <div class="invalid-feedback fs-7">
                        This field cannot be left blank
                    </div>
                </td>
                <td>
                    <input type="number" step="0.000001" class="form-control rounded-1" name="debit" id="debit" required>
                    <div class="invalid-feedback fs-7">
                        This field cannot be left blank
                    </div>
                </td>
                <td>
                    <input type="number" step="0.000001" class="form-control rounded-1" name="credit" id="credit" required>
                    <div class="invalid-feedback fs-7">
                        This field cannot be left blank
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-danger rounded-1 delete_row w-100">Delete</button>
                </td>
            </tr>
        `);
        $(".form-select-search").select2({
            theme: 'bootstrap-5',
            placeholder: "Select one...",
            allowClear: true
        });
    });
    $(document).on("click", ".delete_row", function(e) {
        e.preventDefault();
        let row_item = $(this).parent().parent();
        $(row_item).remove();
    });
});
</script>
<%- include('../../partials/footer') %>