<%- include('../../partials/header') %>
<div class="flex-grow-1 bg-body-tertiary">
    <%- include('../../partials/breadcrumb') %>
    <div class="px-3">
        <div class="container py-3">
            <form action="/scm/vendors/create" method="POST" class="needs-validation" novalidate>
                <div class="row mt-2">
                    <div class="col-4 py-1">
                        <label for="legalName" class="form-label fs-7">Legal Name*</label>
                        <input type="text" class="form-control fs-7" name="legalName" id="legalName" required>
                        <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                        </div>
                    </div>
                    <div class="col-2 py-1">
                        <label for="tin" class="form-label fs-7">Tax ID</label>
                        <input type="text" class="form-control fs-7" name="tin" id="tin">
                    </div>
                    <div class="col-3 py-1">
                        <label for="businessCategory" class="form-label fs-7">Business Category*</label>
                        <select class="form-select fs-7" name="businessCategory" id="businessCategory" aria-label="businessCategory" required>
                            <option value="" disabled selected>Select One...</option>
                            <option value="Unknown">Unknown</option>
                            <% businesscategories.forEach(e => { %>
                                <option value="<%= e %>"><%= e %></option>
                            <% }) %>
                        </select>
                        <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                        </div>
                    </div>
                    <div class="col-3 py-1">
                        <label for="status" class="form-label fs-7">Status*</label>
                        <select class="form-select fs-7" name="status" id="status" aria-label="status" required>
                            <option value="" disabled selected>Select One...</option>
                            <option value="Enabled">Enabled</option>
                            <option value="Disabled">Disabled</option>
                        </select>
                        <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 py-1">
                        <label for="email" class="form-label fs-7">Email</label>
                        <input type="email" class="form-control fs-7" name="email" id="email">
                    </div>
                    <div class="col-2 py-1">
                        <label for="phone" class="form-label fs-7">Phone</label>
                        <input type="number" class="form-control fs-7" name="phone" id="phone">
                    </div>
                    <div class="col-2 py-1">
                        <label for="altPhone" class="form-label fs-7">Alt Phone</label>
                        <input type="number" class="form-control fs-7" name="altPhone" id="altPhone">
                    </div>
                    <div class="col-2 py-1">
                        <label for="businessType" class="form-label fs-7">Business Type*</label>
                        <select class="form-select fs-7" name="businessType" id="businessType" aria-label="businessType" required>
                            <option value="" disabled selected>Select One...</option>
                            <option value="Individual">Individual</option>
                            <option value="Company">Company</option>
                        </select>
                        <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                        </div>
                    </div>
                    <div class="col-4 py-1">
                        <label for="taxTerritory" class="form-label fs-7">Tax Territory*</label>
                        <select class="form-select fs-7" name="taxTerritory" id="taxTerritory" aria-label="taxTerritory" required>
                            <option value="" disabled selected>Select One...</option>
                            <option value="Unknown">Unknown</option>
                            <% countries.forEach(element => { %>
                                <option value="<%= element.name %>"><%= element.name %></option>
                            <% }) %>
                        </select>
                        <div class="invalid-feedback fs-7">
                            This field cannot be left blank
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6 py-1">
                        <label for="line1" class="form-label fs-7">Address</label>
                        <input type="text" class="form-control fs-7" name="line1" id="line1">
                    </div>
                    <div class="col-6 py-1">
                        <label for="line2" class="form-label fs-7">Address 2</label>
                        <input type="text" class="form-control fs-7" name="line2" id="line2">
                    </div>
                </div>
                <div class="row mt-2 mb-4">
                    <div class="col-3 py-1">
                        <label for="city" class="form-label fs-7">City</label>
                        <input type="text" class="form-control fs-7" name="city"  id="city" placeholder="">
                    </div>
                    <div class="col-3 py-1">
                        <label for="state" class="form-label fs-7">State</label>
                        <input type="text" class="form-control fs-7" name="state"  id="state" placeholder="">
                    </div>
                    <div class="col-2 py-1">
                        <label for="zip" class="form-label fs-7">Postal Code</label>
                        <input type="text" class="form-control fs-7" name="zip"  id="zip" placeholder="">
                    </div>
                    <div class="col-4 py-1">
                        <label for="country" class="form-label fs-7">Country</label>
                        <select class="form-select fs-7" name="country" id="country" aria-label="Country">
                            <option value="" disabled selected>Select One...</option>
                            <% countries.forEach(element => { %>
                                <option value="<%= element.name %>"><%= element.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary fs-7" onclick="location.href='/scm/vendors'">Cancel</button>
                <button type="submit" class="btn btn-primary fs-7">Save Vendor</button>
                <p class="fs-7 text-secondary mt-2">* Required Field</p>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer') %>