<%- include('../../partials/header') %>
<div class="flex-grow-1 bg-body-tertiary">
    <%- include('../../partials/breadcrumb') %>
    <div class="px-3">
        <div class="container py-3">
            <form action="/scm/vendors/<%= vendor.id %>/edit" method="POST" class="needs-validation" novalidate>
                <div class="row mt-2">
                    <div class="col-4 py-1">
                        <label for="legalName" class="form-label fs-7">Legal Name*</label>
                        <input type="text" class="form-control fs-7" name="legalName" id="legalName" value="<%= vendor.legalName %>" required>
                        <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                        </div>
                    </div>
                    <div class="col-2 py-1">
                        <label for="tin" class="form-label fs-7">Tax ID</label>
                        <input type="text" class="form-control fs-7" name="tin" id="tin" value="<%= vendor.tin %>">
                    </div>
                    <div class="col-3 py-1">
                        <label for="businessCategory" class="form-label fs-7">Business Category*</label>
                        <select class="form-select fs-7" name="businessCategory" id="businessCategory" aria-label="businessCategory" required>
                            <option value="" disabled selected>Select One...</option>
                            <option value="Unknown"
                                <% if (vendor.businessCategory == "Unknown") { %>
                                    selected
                                <% } %>>
                                Unknown
                            </option>
                            <% businesscategories.forEach(e => { %>
                                <option value="<%= e %>"
                                    <% if (vendor.businessCategory == e) { %>
                                        selected
                                    <% } %>>
                                    <%= e %>
                                </option>
                            <% }) %>
                        </select>
                        <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                        </div>
                    </div>
                    <div class="col-3 py-1">
                        <label for="status" class="form-label fs-7">Status*</label>
                        <select class="form-select fs-7" name="status" id="status" aria-label="status" required>
                            <option value="" disabled selected>Select One...</option>
                            <option value="Enabled"
                                <% if (vendor.status == "Enabled") { %>
                                    selected
                                <% } %>>
                                Enabled
                            </option>
                            <option value="Disabled"
                                <% if (vendor.status == "Disabled") { %>
                                    selected
                                <% } %>>
                                Disabled
                            </option>
                        </select>
                        <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2 py-1">
                        <label for="email" class="form-label fs-7">Email</label>
                        <input type="email" class="form-control fs-7" name="email" id="email" value="<%= vendor.email %>">
                    </div>
                    <div class="col-2 py-1">
                        <label for="phone" class="form-label fs-7">Phone</label>
                        <input type="number" class="form-control fs-7" name="phone" id="phone" value="<%= vendor.phone %>">
                    </div>
                    <div class="col-2 py-1">
                        <label for="altPhone" class="form-label fs-7">Alt Phone</label>
                        <input type="number" class="form-control fs-7" name="altPhone" id="altPhone" value="<%= vendor.altPhone %>">
                    </div>
                    <div class="col-2 py-1">
                        <label for="businessType" class="form-label fs-7">Business Type*</label>
                        <select class="form-select fs-7" name="businessType" id="businessType" aria-label="businessType" required>
                            <option value="" disabled selected>Select One...</option>
                            <option value="Individual"
                                <% if (vendor.businessType == "Individual") { %>
                                    selected
                                <% } %>>
                                Individual
                            </option>
                            <option value="Company"
                                <% if (vendor.businessType == "Company") { %>
                                    selected
                                <% } %>>
                                Company
                            </option>
                        </select>
                        <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                        </div>
                    </div>
                    <div class="col-4 py-1">
                        <label for="taxTerritory" class="form-label fs-7">Tax Territory*</label>
                        <select class="form-select fs-7" name="taxTerritory" id="taxTerritory" aria-label="taxTerritory" required>
                            <option value="" disabled selected>Select One...</option>
                            <option value="Unknown"
                                <% if (vendor.taxTerritory == "Unknown") { %>
                                    selected
                                <% } %>>
                                Unknown
                            </option>
                            <% countries.forEach(element => { %>
                                <option value="<%= element.name %>"
                                    <% if (element.name == vendor.taxTerritory) { %>
                                        selected
                                    <% } %>>
                                    <%= element.name %>
                                </option>
                            <% }) %>
                        </select>
                        <div class="invalid-feedback fs-7">
                            This field cannot be left blank
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6 py-1">
                        <label for="line1" class="form-label fs-7">Address</label>
                        <input type="text" class="form-control fs-7" name="line1" id="line1" value="<%= vendor.address[0].line1 %>">
                    </div>
                    <div class="col-6 py-1">
                        <label for="line2" class="form-label fs-7">Address 2</label>
                        <input type="text" class="form-control fs-7" name="line2" id="line2" value="<%= vendor.address[0].line2 %>">
                    </div>
                </div>
                <div class="row mt-2 mb-4">
                    <div class="col-3 py-1">
                        <label for="city" class="form-label fs-7">City</label>
                        <input type="text" class="form-control fs-7" name="city"  id="city" placeholder="" value="<%= vendor.address[0].city %>">
                    </div>
                    <div class="col-3 py-1">
                        <label for="state" class="form-label fs-7">State</label>
                        <input type="text" class="form-control fs-7" name="state"  id="state" placeholder="" value="<%= vendor.address[0].state %>">
                    </div>
                    <div class="col-2 py-1">
                        <label for="zip" class="form-label fs-7">Postal Code</label>
                        <input type="text" class="form-control fs-7" name="zip"  id="zip" placeholder="" value="<%= vendor.address[0].zip %>">
                    </div>
                    <div class="col-4 py-1">
                        <label for="country" class="form-label fs-7">Country</label>
                        <select class="form-select fs-7" name="country" id="country" aria-label="Country">
                            <option value="" disabled selected>Select One...</option>
                            <% countries.forEach(element => { %>
                                <option value="<%= element.name %>"
                                    <% if (element.name == vendor.address[0].country) { %>
                                        selected
                                    <% } %>>
                                    <%= element.name %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary fs-7" onclick="location.href='<%= urlreturn %>'">Cancel</button>
                <% if (user.access == "System Administrator" || user.access == "System Owner") { %>
                    <button type="button" class="btn btn-danger fs-7" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
                <% } %>
                <button type="submit" class="btn btn-primary fs-7">Save Vendor</button>
                <p class="fs-7 text-secondary mt-2">* Required Field</p>
            </form>
        </div>
    </div>
</div>
<% if (user.access == "System Administrator" || user.access == "System Owner") { %>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Action</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you wish to delete this record? This action is permanent and has no undo.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="/scm/vendors/<%= vendor.id %>/delete" method="POST">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<% } %>
<%- include('../../partials/footer') %>