<%- include('../../partials/header') %>
<div class="flex-grow-1 bg-body-tertiary">
    <%- include('../../partials/breadcrumb') %>
    <div class="px-3">
        <div class="container py-3">
            <div class="border mb-3 shadow-sm bg-body">
                <div class="bg-body border-bottom px-3 py-2 d-flex justify-content-start gap-2">
                    <h4 class="fw-normal mb-0"><%= vendor.legalName %></h4>
                    <% if (vendor.status == "Enabled") { %>
                        <span class="badge text-bg-success d-flex align-self-center"><%= vendor.status %></span>
                    <% } else { %>
                        <span class="badge text-bg-warning d-flex align-self-center"><%= vendor.status %></span>
                    <% } %>
                </div>
                <div class="pb-3 bg-body">
                    <div class="row border-bottom mx-3 mt-3 fs-7">
                        <div class="col-6">
                            <p class="fw-medium mb-0">Legal Name:</p>
                            <p class="text-body-secondary mb-2"><%= vendor.legalName %></p>
                            <p class="fw-medium mb-0">Tax ID:</p>
                            <% if (vendor.tin) { %>
                                <p class="text-body-secondary mb-2"><%= vendor.tin %></p>
                            <% } else { %>
                                <p class="text-body-secondary mb-2">None</p>
                            <% } %>
                            <p class="fw-medium mb-0">Primary Email:</p>
                            <% if (vendor.email != "") { %>
                                <p class="text-body-secondary mb-2"><%= vendor.email %></p>
                            <% } else { %>
                                <p class="text-body-secondary mb-2">None</p>
                            <% } %>
                            <p class="fw-medium mb-0">Primary Phone:</p>
                            <% if (vendor.phone != null) { %>
                                <p class="text-body-secondary mb-2"><%= vendor.phone %></p>
                            <% } else { %>
                                <p class="text-body-secondary mb-2">None</p>
                            <% } %>
                            <p class="fw-medium mb-0">Alternate Phone:</p>
                            <% if (vendor.altPhone != null) { %>
                                <p class="text-body-secondary mb-2"><%= vendor.altPhone %></p>
                            <% } else { %>
                                <p class="text-body-secondary mb-2">None</p>
                            <% } %>
                        </div>
                        <div class="col-5">
                            <p class="fw-medium mb-0">Business Category:</p>
                            <p class="text-body-secondary mb-2"><%= vendor.businessCategory %></p>
                            <p class="fw-medium mb-0">Business Type:</p>
                            <p class="text-body-secondary mb-2"><%= vendor.businessType %></p>
                            <p class="fw-medium mb-0">Tax Territory:</p>
                            <p class="text-body-secondary mb-2"><%= vendor.taxTerritory %></p>
                            <p class="fw-medium mb-0">Mailing Address:</p>
                            <p class="text-body-secondary mb-2">
                                <% if (vendor.address[0].line1 != "") { %>
                                    <%= `${vendor.address[0].line1} ${vendor.address[0].line2}` %><br>
                                    <%= `${vendor.address[0].city} ${vendor.address[0].state} ${vendor.address[0].zip}` %><br>
                                    <%= vendor.address[0].country %>
                                <% } else { %>
                                    None
                                <% } %>
                            </p>
                        </div>
                        <% if (user.access ==  "Editor" || user.access ==  "System Administrator" || user.access ==  "System Owner") { %>
                            <div class="col d-flex justify-content-end">
                                <a href="/scm/vendors/<%= vendor.id %>/edit" class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square text-secondary" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                    </svg>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="border mb-3 shadow-sm bg-body">
                <div class="bg-body border-bottom px-3 py-2 d-flex justify-content-between">
                    <h4 class="fw-normal mb-0">Transactions</h4>
                </div>
                <div class="pb-3 bg-body">
                    <div class="row border-bottom mx-3 mt-3 fs-7">
                        <div class="col-6">
                            <p class="text-body-secondary mb-2">None</p>
                        </div>
                    </div>     
                </div>
            </div>
            <div class="border mb-3 shadow-sm bg-body">
                <div class="bg-body border-bottom px-3 py-2">
                    <h4 class="fw-normal mb-0">Audit</h4>
                </div>
                <div class="pb-3 bg-body">
                    <div class="row border-bottom mx-3 mt-3 fs-7">
                        <div class="col-6">
                            <p class="fw-medium mb-0">Created At:</p>
                            <p class="text-body-secondary mb-2"><%= vendor.createdAt %></p>
                            <p class="fw-medium mb-0">Created By:</p>
                            <p class="text-body-secondary mb-2"><%= createdBy %></p>
                            <p class="fw-medium mb-0">Database Object ID:</p>
                            <p class="text-body-secondary mb-2"><%= vendor.id %></p>
                        </div>
                        <div class="col-6">
                            <p class="fw-medium mb-0">Updated At:</p>
                            <p class="text-body-secondary mb-2"><%= vendor.updatedAt %></p>
                            <p class="fw-medium mb-0">Updated By:</p>
                            <p class="text-body-secondary mb-2"><%= updatedBy %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../partials/footer') %>