<%- include('../../partials/header') %>
<div class="flex-grow-1 bg-body-tertiary">
    <%- include('../../partials/breadcrumb') %>
    <div class="px-3">
        <div class="container py-3">
            <form action="/scm/inventory/create" method="POST" class="needs-validation" novalidate>
                <div class="row mt-2">
                    <div class="col-2 py-1">
                        <label for="name" class="form-label fs-7">Display Name*</label>
                        <input type="text" class="form-control fs-7" name="name" id="name" required>
                        <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                        </div>
                    </div>
                    <div class="col-2 py-1">
                        <label for="version" class="form-label fs-7">Version</label>
                        <input type="text" class="form-control fs-7" name="version" id="version">
                    </div>
                    <div class="col-2 py-1">
                        <label for="subItemOf" class="form-label fs-7">Sub Item Of</label>
                        <small class="text-secondary">(If applicable)</small>
                        <select class="form-select fs-7" name="subItemOf" id="subItemOf">
                            <% if (items) { %>
                                <option value="" selected disabled>Select one...</option>
                                <option value="">None</option>
                                <% items.forEach(e => { %>
                                    <option value="<%= e.id %>"><%= `${e.name} (${e.itemNumber.itemNumberText})` %></option>
                                <% }) %>
                            <% } else { %>
                                <option value="" selected disabled>Select one...</option>
                                <option value="" disabled>No items found</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-3 py-1">
                        <label for="tin" class="form-label fs-7">Item Number*</label>
                        <small class="text-secondary">(Check to enter manually)</small>
                        <div class="input-group">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0 fs-7" type="checkbox" value="true" id="autogen" name="autogen" aria-label="Checkbox for following text input" disabled onchange="document.getElementById('itemNumberText').disabled = !this.checked;">
                            </div>
                            <select class="form-select fs-7 itemNumberField" id="itemNumberSeries" name="itemNumberSeries" required onchange="itemNumberValidator(event)">
                                <option value="" selected disabled>Select one...</option>
                                <option value="UPC-Custom">UPC-Custom</option>
                                <option value="ISRC-Custom">ISRC-Custom</option>
                                <option value="ISRC-QZZDS">ISRC-QZZDS</option>
                            </select>
                            <input type="text" class="form-control fs-7 rounded-end" aria-label="Text input with checkbox" id="itemNumberText" name="itemNumberText" disabled required>
                            <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                            </div>
                        </div>
                    </div>
                    <div class="col-3 py-1">
                        <label for="formFile" class="form-label fs-7">Cover Image</label>
                        <small class="text-secondary">(PNG and JPG only)</small>
                        <input class="form-control fs-7" type="file" id="itemImage" name="itemImage">
                    </div>
                </div>
                <div class="row mt-2 mb-4">
                    <div class="col-6 py-1">
                        <label for="itemLabel" class="form-label fs-7">Label</label>
                        <small class="text-secondary">(If applicable)</small>
                        <input class="form-control fs-7" type="text" id="itemLabel" name="itemLabel">
                    </div>
                    <div class="col-3 py-1">
                        <label for="cLine" class="form-label fs-7">C-Line</label>
                        <small class="text-secondary">(If applicable)</small>
                        <div class="input-group">
                            <span class="input-group-text fs-7" id="basic-addon1">©</span>
                            <select class="form-select fs-7 itemNumberField" id="cLineYear" name="cLineYear">
                                <option value="" selected disabled>Select one...</option>
                                <option value="">None</option>
                                <% years.forEach(e => { %>
                                    <option value="<%= e %>"><%= e %></option>
                                <% }) %>
                            </select>
                            <input class="form-control fs-7" type="text" id="cLineText" name="cLineText">
                        </div>
                    </div>
                    <div class="col-3 py-1">
                        <label for="pLine" class="form-label fs-7">P-Line</label>
                        <small class="text-secondary">(If applicable)</small>
                        <div class="input-group">
                            <span class="input-group-text fs-7" id="basic-addon1">℗</span>
                            <select class="form-select fs-7 itemNumberField" id="pLineYear" name="pLineYear">
                                <option value="" selected disabled>Select one...</option>
                                <option value="">None</option>
                                <% years.forEach(e => { %>
                                    <option value="<%= e %>"><%= e %></option>
                                <% }) %>
                            </select>
                            <input class="form-control fs-7" type="text" id="pLineText" name="pLineText">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary fs-7" onclick="location.href='/scm/inventory'">Cancel</button>
                <button type="submit" class="btn btn-primary fs-7">Save Item</button>
                <p class="fs-7 text-secondary mt-2">* Required Field</p>
            </form>
        </div>
    </div>
</div>
<script src="/js/itemNumberValidator.js"></script>
<%- include('../../partials/footer') %>