<%- include('../../partials/header') %>
<div class="flex-grow-1 bg-body-tertiary">
    <%- include('../../partials/breadcrumb') %>
    <div class="px-3">
        <div class="container py-3">
            <form action="/scm/inventory/<%= item.id %>/edit" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                <div class="row mt-2">
                    <div class="col-4 py-1">
                        <label for="name" class="form-label fs-7">Display Name*</label>
                        <input type="text" class="form-control fs-7" name="name" id="name" value="<%= item.name %>" required>
                        <div class="invalid-feedback fs-7">
                                This field cannot be left blank
                        </div>
                    </div>
                    <div class="col-2 py-1">
                        <label for="version" class="form-label fs-7">Version</label>
                        <input type="text" class="form-control fs-7" name="version" id="version" value="<%= item.version %>">
                    </div>
                    <div class="col-6 py-1">
                        <label for="itemNumber" class="form-label fs-7">Item Number</label>
                        <small class="text-secondary">(Permanent)</small>
                        <div class="d-flex gap-1">
                            <input class="form-control fs-7" type="text" value="<%= item.itemNumber.itemNumberText %>" disabled>
                        </div>
                        <div class="invalid-feedback fs-7">
                            This field cannot be left blank
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6 py-1">
                        <label for="itemType" class="form-label fs-7">Item Type*</label>
                        <select class="form-select fs-7" id="itemType" name="itemType" required>
                            <option value="" selected hidden disabled>Select one...</option>
                            <% itemTypes.forEach(e => { %>
                                <option value="<%= e %>"
                                    <% if (e == item.itemType) { %>
                                        selected
                                    <% } %>>
                                    <%= e %>
                                </option>
                            <% }) %>
                        </select>
                        <div class="invalid-feedback fs-7">
                            This field cannot be left blank
                        </div>
                    </div>
                    <div class="col-6 py-1">
                        <label for="formFile" class="form-label fs-7">Cover Image</label>
                        <small class="text-secondary" >(PNG and JPG only)</small>
                        <input class="form-control fs-7" type="file" id="itemImage" name="itemImage" accept="image/png, image/jpeg">
                    </div>
                </div>
                <div class="row mt-2">  
                    <div class="col-6 py-1">
                        <label for="itemLabel" class="form-label fs-7">Label</label>
                        <small class="text-secondary">(If applicable)</small>
                        <input class="form-control fs-7" type="text" id="itemLabel" name="itemLabel" value="<%= item.itemLabel %>">
                    </div>
                    <div class="col-6 py-1">
                        <label for="pLine" class="form-label fs-7">Copyright Ownership</label>
                        <small class="text-secondary">(If applicable)</small>
                        <div class="d-flex gap-1 mb-1">
                            <span class="input-group-text fs-7" id="basic-addon1">©</span>
                            <select class="form-select fs-7 itemNumberField" id="cLineYear" name="cLineYear" style="max-width:125px;">
                                <option value="" selected hidden disabled>Select one...</option>
                                <option value="">None</option>
                                <% years.forEach(e => { %>
                                    <option value="<%= e %>"
                                        <% if (e == item.cLine.cLineYear) { %>
                                            selected
                                        <% } %>>
                                        <%= e %>
                                    </option>
                                <% }) %>
                            </select>
                            <input class="form-control fs-7" type="text" id="cLineText" name="cLineText" value="<%= item.cLine.cLineText %>">
                        </div>
                        <div class="d-flex gap-1">
                            <span class="input-group-text fs-7" id="basic-addon1">℗</span>
                            <select class="form-select fs-7 itemNumberField" id="pLineYear" name="pLineYear" style="max-width:125px;">
                                <option value="" selected hidden disabled>Select one...</option>
                                <option value="">None</option>
                                <% years.forEach(e => { %>
                                    <option value="<%= e %>"
                                        <% if (e == item.pLine.pLineYear) { %>
                                            selected
                                        <% } %>>
                                        <%= e %>
                                    </option>
                                <% }) %>
                            </select>
                            <input class="form-control fs-7" type="text" id="pLineText" name="pLineText" value="<%= item.pLine.pLineText %>">
                        </div>
                    </div>
                </div>
                <div class="row mt-2 mb-4">
                    <div class="col-6 py-1">
                        <label for="manufacturedIn" class="form-label fs-7">Manufactured In</label>
                        <small class="text-secondary">(If applicable)</small>
                        <select class="form-select fs-7" id="manufacturedIn" name="manufacturedIn">
                            <option value="" selected hidden disabled>Select one...</option>
                            <option value="">Not Applicable</option>
                            <% countries.forEach(e => { %>
                                <option value="<%= e.name %>"
                                    <% if (e.name == item.manufacturedIn) { %>
                                        selected
                                    <% } %>>
                                    <%= e.name %>
                                </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="col-3 py-1">
                        <label for="explicit" class="form-label fs-7">Explicit Content</label>
                        <select class="form-select fs-7" id="explicit" name="explicit">
                            <option value="" selected hidden disabled>Select one...</option>
                            <option value=""
                                <% if ("" == item.explicit) { %>
                                    selected
                                <% } %>>
                                Not Applicable
                            </option>
                            <option value="Explicit"
                                <% if ("Explicit" == item.explicit) { %>
                                    selected
                                <% } %>>
                                Explicit
                            </option>
                            <option value="Not Explicit"
                                <% if ("Not Explicit" == item.explicit) { %>
                                    selected
                                <% } %>>
                                Not Explicit
                            </option>
                        </select>
                    </div>
                    <div class="col-3 py-1">
                        <label for="lang" class="form-label fs-7">Language</label>
                        <select class="form-select fs-7" id="lang" name="lang">
                            <option value="" selected hidden disabled>Select one...</option>
                            <option value="">Not Applicable</option>
                            <% languages.forEach(e => { %>
                                <option value="<%= e.name %>"
                                    <% if (e.name == item.lang) { %>
                                        selected
                                    <% } %>>
                                    <%= e.native %> (<%= e.name %>)
                                </option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary fs-7" onclick="location.href='/scm/inventory/<%= item.id %>'">Cancel</button>
                <button type="submit" class="btn btn-primary fs-7">Save Item</button>
                <p class="fs-7 text-secondary mt-2">* Required Field</p>
            </form>
        </div>
    </div>
</div>
<script src="/js/itemNumberValidator.js"></script>
<%- include('../../partials/footer') %>